S3method(print, pdmlist)

if (requireNamespace("ggplot2", quietly = TRUE)) {
    import(ggplot2)
}

if (requireNamespace("Matrix", quietly = TRUE)) {
importMethodsFrom("Matrix", 
                  "*", "solve", "t", "which", "diag", "crossprod", "tcrossprod", 
                  "chol")
}

if (requireNamespace("pbkrtest", quietly = TRUE)) {
    import(pbkrtest)
}

if (requireNamespace("plyr", quietly = TRUE)) {
    importFrom(plyr, alply)
}
 # import(lme4)
 # import(nlme)
  import(parallel)
  import(lmeInfo)
  
  importFrom("nlme", "getData", "intervals")
  importFrom("lme4", "fixef", "getME", "refit", "VarCorr")
  importFrom("grDevices", "dev.new")
  importFrom("Matrix", "Diagonal", "forceSymmetric")
  importFrom("graphics", "abline", "axis", "box", "identify", "image",
             "legend", "lines", "par", "plot", "points", "text", "title")
  importFrom("methods", "is", "slot")
  importFrom("stats", "anova", "as.formula", "coef", "confint", "delete.response",
             "density", "family", "fitted", "formula", "ftable",
             "lm.influence", "loess.smooth", "logLik", "make.link",
             "model.frame", "model.matrix", "na.omit", "na.pass",
             "p.adjust", "pf", "ppoints", "predict", "pt", "ptukey",
             "qnorm", "qqline", "qqnorm", "qt", "resid", "residuals",
             "setNames", "sigma", "terms", "update", "vcov", "xtabs",
			 "aggregate", "get_all_vars")
  importFrom("utils", "combn", "edit")

export(anovalmer, contrastmeans, CookD, covariatemeans, Kmatrix, permanova.lmer, permindex, permlmer, permmodels, PMplot, predictmeans, residplot, varcomp)
