S3method(print, pdmlist)

if (requireNamespace("lme4", quietly = TRUE)) {
    import(lme4)
}

if (requireNamespace("nlme", quietly = TRUE)) {
    importFrom(nlme, getData, ACF)
}

if (requireNamespace("ggplot2", quietly = TRUE)) {
    import(ggplot2)
}

if (requireNamespace("Matrix", quietly = TRUE)) {
    importFrom(Matrix, tcrossprod)
}

if (requireNamespace("pbkrtest", quietly = TRUE)) {
    import(pbkrtest)
}

if (requireNamespace("plyr", quietly = TRUE)) {
    importFrom(plyr, alply)
}

if (requireNamespace("numDeriv", quietly = TRUE)) {
    importFrom(numDeriv, hessian)
}

if (requireNamespace("parallel", quietly = TRUE)) {
    import(parallel)
}

  importFrom("grDevices", "dev.new")
  importFrom("graphics", "abline", "axis", "box", "identify", "image",
             "legend", "lines", "par", "plot", "points", "text", "title")
  importFrom("methods", "slot")
  importFrom("stats", "anova", "as.formula", "coef", "delete.response",
             "density", "family", "fitted", "formula", "ftable",
             "lm.influence", "loess.smooth", "logLik", "make.link",
             "model.frame", "model.matrix", "na.omit", "na.pass",
             "p.adjust", "pf", "ppoints", "predict", "pt", "ptukey",
             "qnorm", "qqline", "qqnorm", "qt", "resid", "residuals",
             "setNames", "sigma", "terms", "update", "vcov", "xtabs")
  importFrom("utils", "edit")

export(anovalmer, contrastmeans, CookD, covariatemeans, Kmatrix, permanova.lmer, permindex, permlmer, permmodels, PMplot, predictmeans, residplot, varcomp.lmer)

