if (requireNamespace("lme4", quietly = TRUE)) {
    importFrom(lme4, ranef, fixef)
}

if (requireNamespace("nlme", quietly = TRUE)) {
    importFrom(nlme, getData, ACF)
}

if (requireNamespace("ggplot2", quietly = TRUE)) {
    import(ggplot2)
}

if (requireNamespace("pbkrtest", quietly = TRUE)) {
    import(pbkrtest)
}

if (requireNamespace("plyr", quietly = TRUE)) {
    importFrom(plyr, alply)
}

if (requireNamespace("lattice", quietly = TRUE)) {
    import(lattice)
}

export(contrastmeans, covariatemeans, CookD, PMplot, permmodels, permindex, predictmeans, Kmatrix, residplot)

